[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Aditya Krishnan Mohan
	email = 38864621+adityakm24@users.noreply.github.com
